<ng-template #loading>
    <div class="alert alert-info text-center">
        Wait please...
    </div>
</ng-template>

<div *ngIf="country; else loading">
    <div class="row">
        <div class="col-12">
            <h2>Country: <strong>{{ country.name.common }}</strong></h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>Flag</h3>
            <img [src]="country.flags.svg" [alt]="country.name.common" class="img-thumbnail">
        </div>
        <div class="col">
            <h3>Information</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Official Name:</strong> {{country.name.official}}
                </li>
                <li class="list-group-item">
                    <strong>Population:</strong> {{country.population | number}} people
                </li>
                <li class="list-group-item">
                    <strong>Code:</strong> {{country.cca3 }}
                </li>
                <li class="list-group-item">
                    <strong>Independent Country:</strong> {{country.independent ? 'Yes': 'No' }}
                </li>
            </ul>
        </div>
    </div>
    <hr>

    <div class="row m-t2">
        <div class="col">
            <h3>Translations</h3>

            <div class="d-flex flex-wrap">
                <span class="badge bg-primary m-1">{{country.translations['ara'].common}}</span>
                <span class="badge bg-primary m-1">{{country.translations['bre'].common}}</span>
                <span class="badge bg-primary m-1">{{country.translations['ces'].common}}</span>
                <span class="badge bg-primary m-1">{{country.translations['cym'].common}}</span>
                <span class="badge bg-primary m-1">{{country.translations['deu'].common}}</span>
                <span class="badge bg-primary m-1">{{country.translations['est'].common}}</span>
                <span class="badge bg-primary m-1">{{country.translations['fin'].common}}</span>
                <span class="badge bg-primary m-1">{{country.translations['ita'].common}}</span>
                <span class="badge bg-primary m-1">{{country.translations['kor'].common}}</span>
                <span class="badge bg-primary m-1">{{country.translations['per'].common}}</span>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <p><strong>{{country.name.common}} is located on {{country.region}} continent in the region of {{country.subregion}}<br>
            Its capital is {{country.capital}} and it has a total area of {{country.area | number}} Km².<br><br>
            {{country.flags.alt}}
        </strong></p>
    </div>

    <div class="row mt-2 mb-5">
        <div class="col-6 justify-content-center">
            <img [src]="country.coatOfArms.png" style="width: 40rem; height: 40rem;">
        </div>
    </div>
    <hr>
</div>


